{% extends getPartial('page-design') %}
{% set currentLang = services.sessionStorage.getLang() %}
{% set homepageData = homepageJson[currentLang] %}
{% block PageBody %}

	<!-- Insert markup for homepage here -->

    <h1>My homepage</h1>
<center><h1 style="color:white">Plenty Market place</h1></center>
{% endblock %}
